#textdomain wesnoth-A_New_Order
[scenario]
    name = _ "The Swamp Things"
    id=05_The_Swamp_Things
    map_data="{~add-ons/A_New_Order/maps/Swamps.map}"
    next_scenario=06_Separation
    {INTRO_AND_SCENARIO_MUSIC suspense.ogg knolls.ogg}
    {EXTRA_SCENARIO_MUSIC battle.ogg}
    {EXTRA_SCENARIO_MUSIC the_dangerous_symphony.ogg}
    {EXTRA_SCENARIO_MUSIC breaking_the_chains.ogg}
    {EXTRA_SCENARIO_MUSIC battle-epic.ogg}

    {TURNS 33 28 23}
    [story]
        {AFTERBARNONSTORY} # from macros/conversations.cfg
        [part]
            story=_"The party entered the swamps and woods of Saoren Duc with heavy hearts."
            background=story_images/swamp_scena.png
        [/part]
    [/story]
    {DAWN}
    {MORNING}
    {AFTERNOON}
    {DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
    victory_when_enemies_defeated=yes
    [side]
        controller=human
        id=Lady Lorin
        save_id=Lady Lorin
        name=_"Lady Lorin"
        type=Akladian Lady
        team_name=good
        canrecruit=yes
        side=1
        fog=yes
        # Note: I had increased this income declaration to {9 6 3} before I got the gold carryover
        # from Battle of Barnon fixed; now that that works, though, it ought to be able to come
        # back down a bit:
        {INCOME 7 5 3} 
        {GOLD 190 145 100}
        recruit=Akladian Wiseman,Akladian Clansman,Akladian Warrior
    [/side]
    [side]
        type=Saurian Ambusher
        id=Burass
        name=_"Burass"
        side=2
        canrecruit=yes
        {GOLD 100 110 120}
        {INCOME 1 2 3}
        team_name=bad
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Oracle
        [ai]
            recruitment_pattern=scout,archer,healer
            grouping=defensive
            {QUANTITY aggression 0.1 0.2 0.3}
            {QUANTITY caution 0.9 0.8 0.7}
            village_value=0.0
            villages_per_scout=1
            scout_village_targeting=0.0
            simple_targeting=yes
            support_villages=yes
        [/ai]
    [/side]
#ifdef EASY
    {LIMIT_CONTEMPORANEOUS_RECRUITS 2 "Saurian Oracle" 1}
#endif
    [side]
        type=Saurian Ambusher
        id=Ssumar
        name=_"Ssumar"
        side=3
        canrecruit=yes
        {GOLD 100 110 120}
        {INCOME 1 2 3}
        team_name=bad
        recruit=Saurian Skirmisher,Saurian Augur,Saurian Soothsayer
        [ai]
            recruitment_pattern=scout,scout,healer
            grouping=offensive
            {QUANTITY aggression 0.4 0.5 0.6}
            {QUANTITY caution 0.3 0.2 0.1}
            village_value=0.0
            villages_per_scout=1
            scout_village_targeting=0.0
            simple_targeting=yes
            support_villages=no
        [/ai]
    [/side]
#ifdef EASY
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 "Saurian Soothsayer" 1}
#endif
    [event]
        name=prestart
        # no need to RECALL Reme Carrenemoe here because we use unstore_unit to get him later
        [set_variable]
            name="ano_reme_stored.x"
            value="22"
        [/set_variable]
        [set_variable]
            name="ano_reme_stored.y"
            value="22"
        [/set_variable]
        [set_variable]
            name="ano_reme_stored.hitpoints"
            value=$ano_reme_stored.max_hitpoints
        [/set_variable]
        [set_variable]
            name="ano_reme_stored.side"
            value="1"
        [/set_variable]
        [set_variable]
            name="ano_reme_stored.moves"
            value=$ano_reme_stored.max_moves
        [/set_variable]
        [unstore_unit]
            variable=ano_reme_stored
            find_vacant=yes
            x,y=3,9
        [/unstore_unit]
        {VARIABLE ano_orcs no}
        [set_variable]
            name=ano_arl_interrogated
            value=no
        [/set_variable]
        [set_variable]
            name="ano_lorin_stored.canrecruit"
            value="yes"
        [/set_variable]
        [set_variable]
            name="ano_lorin_stored.side"
            value="1"
        [/set_variable]
        [set_variable]
            name="ano_lorin_stored.x"
            value="23"
        [/set_variable]
        [set_variable]
            name="ano_lorin_stored.y"
            value="23"
        [/set_variable]
        [set_variable]
            name="ano_lorin_stored.hitpoints"
            value=$ano_lorin_stored.max_hitpoints
        [/set_variable]
        [set_variable]
            name="ano_lorin_stored.moves"
            value=$ano_lorin_stored.max_moves
        [/set_variable]
        [unstore_unit]
            variable=ano_lorin_stored
            find_vacant=no
            x,y=3,9
        [/unstore_unit]

        # ensuring player has at least minimal amount of gold
        [store_gold]
            variable=ano_tmp
        [/store_gold]
        {VARIABLE_OP ano_tmp multiply -1}

        [gold]
            amount=$ano_lorin_gold
            side=1
        [/gold]
        [gold]
            amount=$ano_tmp
            side=1
        [/gold]

        {VARIABLE_OP ano_tmp multiply -1}
        [store_gold]
            variable=gold
        [/store_gold]

        {IF gold less_than $ano_tmp}
        {VARIABLE_OP gold multiply -1}
        [gold]
            amount=$gold
            side=1
        [/gold]
        [gold]
            amount=$ano_tmp
            side=1
        [/gold]
        {END_IF_WITHOUT_ELSE}
        ##

        {FOREACH ano_units i}
#ifdef __UNUSED__
            {VARTOUNIT ano_units $i 1 1 1}
#endif
            [set_variable]
                name=ano_units[$i].hitpoints
                value=$ano_units[$i].max_hitpoints
            [/set_variable]
            [set_variable]
                name=ano_units[$i].side
                value=1
            [/set_variable]
            [set_variable]
                name=ano_units[$i].moves
                value=$ano_units[$i].max_moves
            [/set_variable]
            [unstore_unit]
                variable=ano_units[$i]
                find_vacant=yes
                x,y=recall,recall
            [/unstore_unit]
        {NEXT i}
        {CLEAR_VARIABLE ano_units}
        {CLEAR_VARIABLE ano_units_last_index}
    [/event]
    [event]
        name=start
        {VARIABLE ano_saurians yes}
        {AFTERBARNONTALK} # from macros/conversations.cfg
        {MSG_Lorin _"I have the strangest feeling, as though someone was watching us from the bushes..."}
        {MESSAGE (Ssumar) () (Ssumar) _"Humanssss! Leave thessse foressts!"}
        {MSG_Reme _"We can't! Our enemies are hot on our heels. We only wish to cross your swamp and then you will hear no more from us."}
        {MESSAGE (Ssumar) () (Ssumar) _"Ssswampss you leave now! Hear about you no more!"}
        {MSG_Lorin _"Reme, leave negotiations to me, I am far more experienced. Lizards! You are about to be exterminated! Prepare to meet your destiny!"}
        {MSG_Reme _"(<i>To himself</i>) No wonder no one really liked her..."}
        [store_gold]
            side=1
            variable=gold
        [/store_gold]
        [set_variable]
            name=ano_saurian_interrogated
            value=no
        [/set_variable]
        [if]
            [variable]
                name=gold
                less_than=200
            [/variable]
            [then]
                {MSG_Reme _"I am not sure whether we have enough gold for this endeavor. I wish we'd gotten more in previous battles, at least 200."}
            [/then]
        [/if]
        [objectives]
            side=1
            [objective]
                description=_"Kill all enemy leaders"
                condition=win
            [/objective]
            [objective]
                description=_"Death of Lady Lorin"
                condition=lose
            [/objective]
            [objective]
                description=_"Death of Reme Carrenemoe"
                condition=lose
            [/objective]
        [/objectives]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Ssumar
        [/filter]
        [filter_second]
            id=Lady Lorin
        [/filter_second]
        {MESSAGE (Ssumar) () (Ssumar) _"Wait! Ssspare my life, for I know sssomething..."}
        [if]
            [variable]
                name=ano_saurian_interrogated
                equals=no
            [/variable]
            [then]
                {MSG_Lorin _"Interesting. Speak, and maybe I will spare your worthless head, inhuman ungodly beast."}
                {MESSAGE (Ssumar) () (Ssumar) _"The orcss are coming in great numbersss... They are numerousss, they are hiding in the hillss waiting for the right moment to come..."}
                {MSG_Lorin  _"What moment?"}
                {MESSAGE (Ssumar) () (Ssumar) _"What moment I do not know, but I know that they are expecting a human envoy."}
                {MSG_Reme _"Human envoy? That's impossible."}
                {MESSAGE (Ssumar) () (Ssumar) _"If it isss impossssible, then they will wait a long time... will you let me live now?"}
                {MSG_Lorin _"Hide in your quagmire, lizard thing."}
                [set_variable]
                    name=ano_saurian_interrogated
                    value=yes
                [/set_variable]
            [/then]
            [else]
                {MSG_Lorin _"We already know everything we need to know. Your friend had told us about a great army of orcs, what else you could possibly know?"}
                {MESSAGE (Ssumar) () (Ssumar) _"I know where we hide the gold. Humanss, you love gold, will you ssave my life if I show you?"}
                #po: Lorin is mad that she is starting to pick up saurian speech patterns:
                {MSG_Lorin _"Seems a fair deal. Show usss... blast it... show us the gold and you may leave."}
                {VARIABLE gold_amt {ON_DIFFICULTY 70 60 50}}
                [gold]
                    amount=$gold_amt
                    side=1
                [/gold]
                {MSG_narrator _"You have resssssieved $gold_amt gold piesssses."}
                {CLEAR_VARIABLE gold_amt}
            [/else]
        [/if]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Burass
        [/filter]
        [filter_second]
            id=Lady Lorin
        [/filter_second]
        {MESSAGE (Burass) () (Burass) _"Wait! Ssspare my life, for I know sssomething..."}
        [if]
            [variable]
                name=ano_saurian_interrogated
                equals=no
            [/variable]
            [then]
                {MSG_Lorin _"Interesting. Speak, and maybe I will spare your worthless head, inhuman ungodly beast."}
                {MESSAGE (Burass) () (Burass) _"The orcss are coming in great numbersss... They are numerousss, they are hiding in the hillss waiting for the right moment to come..."}
                {MSG_Lorin  _"What moment?"}
                {MESSAGE (Burass) () (Burass) _"What moment I do not know, but I know that they are expecting a human envoy."}
                {MSG_Reme _"Human envoy? That's impossible."}
                {MESSAGE (Burass) () (Burass) _"If it isss impossssible, then they will wait a long time... will you let me live now?"}
                {MSG_Lorin _"Hide in your quagmire, lizard thing."}
                [set_variable]
                    name=ano_saurian_interrogated
                    value=yes
                [/set_variable]
            [/then]
            [else]
                {MSG_Lorin _"We already know everything we need to know. Your friend had told us about a great army of orcs, what else you could possibly know?"}
                {MESSAGE (Burass) () (Burass) _"I know where we hide the gold. Humanss, you love gold, will you ssave my life if I show you?"}
                #po: Lorin is mad that she is starting to pick up saurian speech patterns:
                {MSG_Lorin _"Seems a fair deal. Show usss... blast it... show us the gold and you may leave."}
                {VARIABLE gold_amt {ON_DIFFICULTY 70 60 50}}
                [gold]
                    amount=$gold_amt
                    side=1
                [/gold]
                {MSG_narrator _"You have resssssieved $gold_amt gold piesssses."}
                {CLEAR_VARIABLE gold_amt}
            [/else]
        [/if]
    [/event]
    [event]
        name=victory
        {MSG_Reme _"My lady, we have found some gold Saurians were hiding. They probably earned it by robbing the humans living nearby."}
        {MSG_Lorin _"Oh, so I am still 'my lady' to you? Good. We may have use for the gold in future."}
        {MSG_Reme _"I really don't know what 'we' you have in mind."}
        {VARIABLE end_gold_amt {ON_DIFFICULTY 170 160 150}}
        [gold]
            amount=$end_gold_amt
            side=1
        [/gold]
        {MSG_narrator _"You have received $end_gold_amt gold pieces."}
        {CLEAR_VARIABLE end_gold_amt}
    [/event]
    {REME_DEATH}
    {LORIN_DEATH}
[/scenario]
