#textdomain wesnoth-A_New_Order

#define ANO_C_SEPARATOR
    [entry]
        name="*"
    [/entry]
#enddef
[about]
    images="story_images/before_the_battle.png,story_images/story_ruvio.png,story_images/walls_vattin.png,story_images/story_cametome.png"
[/about]

[about]
    title= _ "Creator and Lead Designer"
    [entry]
        name="Arkadiusz D. Danilecki (szopen)"
        email="adanilecki at cs put poznan pl"
        wikiuser="szopen"
        comment=_"storyline, coding, original and some of the new story images, original portraits, original sprites for Akladians."
    [/entry]
[/about]

[about]
    title= _ "Campaign Maintenance"
    [entry]
        name="Arkadiusz D. Danilecki (szopen)"
        comment=_"Main maintainer, release manager"
    [/entry]
    [entry]
        name="Spencer Cooley (TheSigil)"
        comment=_"English Retranslation, code monkey, cleanup for BfW 1.9"
    [/entry]
    [entry]
        name="Michael P. Kochis (Typhon)"
        comment=_"Secondary Maintainer, code monkey"
    [/entry]
    [entry]
        name="Oto (tapik) Buchta"
        email="tapik_zavináč_buchtovi_cz"
        wikiuser=tapik
        comment=_"Another Maintainer :-)"
    [/entry]
    [entry]
        name="Vincent (viorc) Croisier"
        comment=_"And yet another maintainer"
    [/entry]
[/about]

[about]
    title= _ "Artwork"
    [entry]
        name="Santiago Iborra (quellion)"
        comment=_"Portraits"
    [/entry]
    [entry]
        name="Łukasz Zaręba" 
        comment=_"Story images"+" "+_"Portraits"
    [/entry]
    [entry]
        name="Sleepwalker"
        comment=_"New akladian sprites"
    [/entry]
    [entry]
        name="Peter Geinitz (wayfarer/shadow)"
        comment=_"Some old akladian sprites"
    [/entry]
[/about]

[about]
    title= _ "Music"
    [entry]
        name="Erik Rijshouwer (cyrex)"
        comment="Almost Full Moon; Fragments of time"
    [/entry]

    [entry]
        name="Christian Hellerberg" 
        comment="Main Theme" 
    [/entry]
    [entry]
        name="Nick Humphrey" 
        comment="Strings, Wings and Things; Old English March; Suspenseful Strings; Flanger"
    [/entry]
    [entry]
        name="Mattias Westlund" 
        comment="Ambuscade; Silver Tree; Exploration; Reunion; Dark Passage"
    [/entry]
    [entry]
        name="Aleksi" 
        comment="Gameplay06"
    [/entry]
    [entry]
        name="Tyler Johnson" 
        comment="One Thousand Suns"
    [/entry]
    [entry]
        name="Hiro Hito" 
        comment="Primitive Tribal Song"
    [/entry]
[/about]

[about]
    title= _ "Translations"
    text= _ "(from WesCamp-i18n)"
    [entry]
        name=_" British (en_gb) translation:"+" "+"Harry Dewulf, David Philippi"
    [/entry]
    [entry]
        name=_"Catalonian translation:"+" "+"Jose Gordillo"
    [/entry]
    [entry]
        name=_"Czech translation:"+" "+"Oto (tapik) Buchta"
    [/entry]
    [entry]
        name=_"Danish translation:"+" "+"Joe Hansen"
    [/entry]
    [entry]
        name=_"French translation:"+" "+"Pyrophorus"
    [/entry]
    [entry]
        name=_"Previous version of french translation:"+" "+"Geoffroy Douillie, Damien, Guigou Guillaume"
    [/entry]
    [entry]
        name=_"German translation:"+" "+"Michael Dragovic"+"Simon Sobisch"
    [/entry]
    [entry]
        name=_"Italian translation:"+" "+"Brivido"
    [/entry]
    [entry]
        name=_"Polish translation:"+" "+"A. D. (szopen) Danilecki, Piotr Cychowski"
    [/entry]
    [entry]
        name=_"Russian translation:"+" "+"nikita, Alexey Remizov"
    [/entry]
    [entry]
        name=_"Spanish translation:"+" "+"Eduardo Jose Papa"
    [/entry]
    [entry]
        name=_"Swedish translation:"+" "+"Capitol, Stefan Bergstörm (tephlon)"
    [/entry]
    [entry]
        name=_"Turkish translation:"+" "+"Nilgün Belma Bugüner"
    [/entry]
[/about]
[about]
    title= _ "Additional thanks to"
    [entry]
        name="Peter Geinitz (Shadow/Wayfarer)"
        comment=_"sprites for Aragwaithi and corrections of Akladian sprites"
    [/entry]
    [entry]
        name="Viorc"
        comment=_"team coloring for all sprites"
    [/entry]
    [entry]
        name="unsung, ott, capitol, ave, tomsik, teldar, tapik, derek, alxrem,malin keshar"
        comment=_"bug reports, english errors corrections"
    [/entry]
    [entry]
        name="Turuk,T3st3r"
        comment=_"bug reports, English corrections"
    [/entry]
    [entry]
        name="scott and shadow"
        comment=_"Outlaw level 3 pack is maintained by them."
    [/entry]
    [entry]
        name="David Philippi (torangan), Nils Kneuper (ivanovic), Steven Panek (espreon)"
        comment=_"for patience and explaining how wescamp works"
    [/entry]
    [entry]
        name="Jetryl and Pickslide"
        comment=_"for art advises"
    [/entry]
    [entry]
        name="elvish pillager and turin"
        comment=_"for hints on wml and unit stats"
    [/entry]
    [entry]
        name="AxalaraFlame"
        comment=_"for work on Akladian unit stats"
    [/entry]
    [entry]
        name="Tet"
        comment=_"Caring for the art for 1.1.98 versions"
    [/entry]
    [entry]
        name=_"all others from the wesnoth forums"
    [/entry]
[/about]

[about]
    title= _ "Campaign funding"
    [entry]
        name="Arkadiusz D. Danilecki (szopen)"
    [/entry]
    [entry]
        name="Spencer Cooley (TheSigil)"
    [/entry]
    [entry]
        name="Wussel"
    [/entry]
    [entry]
        name="tr0ll"
    [/entry]
    [entry]
        name="alhaz"
    [/entry]
[/about]

[about]
    title= _ "Additional information may be found within readme.txt file"
[/about]
[about]
    title= _ "I can't believe you actually read this thing"
[/about]
[about]
    title=_"Darth Vader"
    [entry]
#po: please translate Skywalker literally (as "sky-walker")
        name=_"Father or Luke Skywalker"
    [/entry]
[/about]
[about]
    #po: Żwirek i Muchomorek are from Czech movie for children. You are free to replace them with characters from favourite foreign movie for children in your country
    title=_"Żwirek i Muchomorek"
    [entry]
        name=_"Famous Czech gay actors"
    [/entry]
[/about]
[about]
#po: Polish president, he can't spell. Famous for dozens of idiotic sentences and sayings. you are free to replace him with some politician from your country
    title=_"Bronisław Komorowski"
    [entry]
        name=_"The living proof that you may not know how to spell and still be president"
    [/entry]
[/about]

#undef ANO_C_SEPARATOR
