#textdomain wesnoth-A_New_Order
[unit_type]
    id=Akladian Light Infantry
    name= _ "Akladian Light Infantry"
    race=akladian
    image="akladian/akl-light-infantry.png"
    profile=portraits/akladian_generic.png
    hitpoints=43
    movement_type=akladianfoot
    movement=5
    experience=85
    level=2
    alignment=neutral
    advances_to=Akladian Fastfoot,Akladian Pikeneer
    cost=34
    usage=fighter
    description= _ "The best Akladian warriors are chosen by their lords to serve in their regular armies, and they became professional soldiers. They have to equip themselves, however, which results in their armour being light, and a spear being their weapon of choice."+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM akladian/akl-light-infantry.png akladian/akl-light-infantry.png {SOUND_LIST:HUMAN_HIT}}

    [attack]
        name=spear
        description=_"spear"
        type=pierce
        range=melee
        damage=6
        number=5
        icon=attacks/spear.png
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=0
                image="akladian/akl-light-infantry.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=0
                image="akladian/akl-light-infantry.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
