#textdomain wesnoth-A_New_Order
[unit_type]
    id=Lord Bor Cryne
    name= _ "Lord Bor Cryne"
    race=akladian
    gender=male
    image="akladian/akl-lord.png"
    [defend]
        [frame]
            begin=-150
            end=150
            image="akladian/akl-lord.png"
        [/frame]
    [/defend]
    profile="portraits/bor_cryne.png"
    hitpoints=60
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
    movement_type=akladianfoot
    movement=6
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    cost=57
    usage=mixed fighter
    description= _ "After two generations had passed since the conquest of Wesnoth, Akladian leaders- despite claiming to despise the Wesnothians - started to mimic the customs of the Wesnothian nobility. Thereafter, the clan leaders, the 'lords', tended to become hereditary. As such it became extremely rare for a lord not to be a son of previous lord. Bor Cryne came from a noble family, though not one of the highest class, meaning he could, at most, expect to become a chieftain. Yet he was such a skilled warrior and leader that he was able to become a leader of his clan, killing the previous lord in a duel, as was traditional. He always despised the customs of Wesnothians and disliked those lords who enjoyed courts more than battlefields."+{SPECIAL_NOTES}+{SPECIAL_NOTES_LEADERSHIP}
    {DEFENSE_ANIM akladian/akl-lord.png akladian/akl-lord.png {SOUND_LIST:HUMAN_HIT}}
    die_sound={SOUND_LIST:HUMAN_DIE}
    {AMLA_OPTION_TOUGH}
    [attack]
        name=sword
        description=_"sword"
        type=blade
        range=melee
        damage=12
        number=4
        icon=attacks/sword-human.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]
        [if]
            hits=yes
            [frame]
                begin=-150
                end=0
                image="akladian/akl-lord.png"
                sound=sword-1.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-150
                end=0
                image="akladian/akl-lord.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
