#textdomain wesnoth-A_New_Order
#define ELVISH_DEATHS
    [event]
        name=last breath
        [filter]
            id=Kyobaine
        [/filter]
        [message]
            speaker=unit
            #po: Kyobaine, female Elf
            message=_"I will never again see our beautiful forests..."
            image=portraits/kyobaine.png
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Milildur
        [/filter]
        [message]
            speaker=unit
            #po: Milildur, male Elf
            message=_"See how Elves die; without fear!"
            image=portraits/milildur.png
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Elorain
        [/filter]
        [message]
            speaker=unit
            #po: Elorain, female Elf
            message=_"Now, I will meet the best marksman... Death never misses."
            image=portraits/elorain.png
        [/message]
    [/event]
#enddef
#define ELVISH_KILLING
    [event]
        name=die
        [filter_second]
            id=Elorain
        [/filter_second]
        {RANDOM 1..10}
        [message]
            speaker=Elorain
            # See scenarios/11_Council_in_Freetown for where these randomly-chosen phrases come from:
            message=_"Ha! $ano_elorain_$random "
            image=portraits/elorain.png
        [/message]
    [/event]
    [event]
        name=die
        [filter_second]
            id=Milildur
        [/filter_second]
        {RANDOM 1..10}
        [message]
            speaker=Milildur
            # See scenarios/11_Council_in_Freetown for where the randomly-chosen phrases come from:
            message=_"Ha! $ano_milildur_$random "
            image=portraits/milildur.png
        [/message]
    [/event]
    [event]
        name=recall
        [filter]
            id=Milildur
        [/filter]
        {VARIABLE_OP ano_milildur_recalled add 1}
        {IF ano_milildur_recalled equals 5}
        {VARIABLE ano_loyal_elves true}
        {VARIABLE ano_loyal_elf Milildur}

        #po: The message 'I fought with you for so many battles...' etc. will be spoken by both male, Milildur, and Elorain, female. Make it gender neutral.
        {MESSAGE (Milildur) (portraits/milildur.png) (Milildur) _"My lord, I fought with you for so many battles... I can accept money from you no more. Please, treat me like a friend, not like a hired soldier."}
        {MAKE_LOYAL (id) (Milildur)}
        {ELSE}
        {END_IF}
    [/event]
    [event]
        name=recall
        [filter]
            id=Elorain
        [/filter]
        {VARIABLE_OP ano_elorain_recalled add 1}
        {IF ano_elorain_recalled equals 5}
        {VARIABLE ano_loyal_elves true}
        {VARIABLE ano_loyal_elf Elorain}

        #po: The message 'I fought with you for so many battles..' etc. will be spoken by both male, Milildur, and Elorain, female. Make it gender neutral.
        {MESSAGE (Elorain) (portraits/elorain.png) (Elorain) _"My lord, I fought with you for so many battles... I can accept money from you no more. Please, treat me like a friend, not like a hired soldier."}
        {MAKE_LOYAL (id) (Elorain)}
        {ELSE}
        {END_IF}
    [/event]

    [event]
        name=recall
        [filter]
            id=Kyobaine
        [/filter]
        {VARIABLE_OP ano_kyobaine_recalled add 1}
        {IF ano_loyal_elves equals true}
        {IF ano_kyobaine_recalled greater_than 4}
        {IF ano_loyal_kyobaine equals false}
        {VARIABLE ano_loyal_kyobaine true}
        {MSGm_Gawen _"Ekhem."}
        {MESSAGE (Kyobaine) (portraits/kyobaine.png) (Kyobaine) _"What?"}

        #po: Gawen is speaking to Kyobaine, an elvish woman. He is repeating what Milildur and Elorain were earlier speaking; these strings should be similar. Elorain earlier said: My lord, I fought with you so many battles etc
        {MSGm_Gawen _"Well, you fought with me so many battles..."}

        {MESSAGE (Kyobaine) (portraits/kyobaine.png) () _"...Aaand?"}
        {MSGm_Gawen _"Well, you know, I thought that I should no longer treat you like a hired soldier..."}

        {MESSAGE (Kyobaine) (portraits/kyobaine.png) () _"What?!? Are you trying to ask me out or something?"}
        {MSGm_Gawen _"...Eee?"}
        {MESSAGE (Kyobaine) (portraits/kyobaine.png) () _"No offense, but... it's not like I have something against males in general. It's more like I like them less hairy. And less... human. Anything more? No? Good. Let's get back to the business. And don't forget about my 20 gold pieces."}

        {END_IF_WITHOUT_ELSE}
        {END_IF_WITHOUT_ELSE}
        {END_IF_WITHOUT_ELSE}
    [/event]
#enddef

#define KYOBAINE_DRUID
    [event]
        name="post advance"
        [filter]
            id=Kyobaine
            type="Elvish Druid"
        [/filter]
        {VARIABLE ano_kyobaine_complained 0}

        #po: Kyobaine advances to Elvish Druid
        {MESSAGE (Kyobaine) (portraits/kyobaine.png) (Kyobaine) _"How on earth I am supposed to walk in these clothes during winter? It's frigging cold!"}
    [/event]

    [event]
        name=recall
        [filter]
            id=Kyobaine
            type="Elvish Druid"
        [/filter]
        [gold]
            amount=-20
            side=1
        [/gold]
        {IF ano_kyobaine_complained equals 0}
        {VARIABLE ano_kyobaine_complained 1}
        #po: The talk between Kyobaine as Elvish Druid and Gawen, during winter
        {MESSAGE (Kyobaine) (portraits/kyobaine.png) (Kyobaine) _"Oooh, no. I refuse to fight in these condition, and in clad as such."}
        {MSGW_Gawen _"What do you mean? Your clothes are just fine."}
        {MESSAGE (Kyobaine) (portraits/kyobaine.png) (Kyobaine) _"<i>For the spring</i>. The least you can do is to give me proper shoes. You expect me to walk in this snow <i>barefoot</i>??"}
        {MSGW_Gawen _"That's ridiculous."}
        {MESSAGE (Kyobaine) (portraits/kyobaine.png) (Kyobaine) _"I couldn't agree more. Call me when you have new shoes."}

        {MSGOPTI2 (Gawen Hagarthen) (portraits/gawen_winter.png) (_"Well...")
        (_"All right, what about I'll give you 25 gold pieces instead of 20?") (yes)
        (_"All right, we will wait for the spring.") (no)}
        {IF ano_opt equals yes}
        {MESSAGE (Kyobaine) (portraits/kyobaine.png) (Kyobaine) _"You think you can bribe me, an elvish druid, with gold? Oh well. This will allow me to buy better winter clothes."}

        [gold]
            amount=15
            side=1
        [/gold]
        {ELSE}
        {VARIABLE ano_kyobaine_complained 2}
        [hide_unit]
            id="Kyobaine"
        [/hide_unit]
        {MSGW_Gawen _"Hey, give back my gold!"}
        [unhide_unit]
            id="Kyobaine"
        [/unhide_unit]
        {MESSAGE (Kyobaine) (portraits/kyobaine.png) (Kyobaine) _"Stingy bastard."}
        [gold]
            amount=40
            side=1
        [/gold]
        [store_unit]
            [filter]
                id="Kyobaine"
            [/filter]
            variable=ano_kyobaine_stored
            kill=yes
        [/store_unit]
        {END_IF}
        {END_IF_WITHOUT_ELSE}
    [/event]

    [event]
        name=victory
        {IF ano_kyobaine_complained equals 2}
        [unstore_unit]
            variable=ano_kyobaine_stored
        [/unstore_unit]
        {CLEAR_VARIABLE ano_kyobaine_stored}
        {END_IF_WITHOUT_ELSE}
    [/event]
#enddef
